body {
     background-color: #fff;
     color: #000;
     text-align: center;
 }

.container {
    padding: 50px;
}

h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.verification-code-container {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 5px;
    width: 500px;
    height: 80px;
}

.verification-code {
    font-size: 24px;
    font-weight: bold;
}
