form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 50%;
    border-radius: 18px;
    background-color: white;
    margin: 150px auto;
    padding: 0px 120px 50px;
}
h4, p{
    text-align: center;
    font-size: 12px;
}
.password-update {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.password-update > div {
    position: relative;
    width: 100%;
}
.password-update > div input {
    width: 80%;
    height: 42px;
    margin: 7px 0;
    border: 1px solid dimgray;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 1.4em;
    outline: none !important;
}
.password-update > div label {
    position: absolute;
    top: -2em; left: 20px;
    margin: 1.9em 2em 2em 4em;
    background-color: white;
    padding: 0 2px;  color: gray;
    font-size: 12px; font-weight: bold;
    border-radius: 150px;
}
.password-update > div span {
    color: #da4841;
}
.password-update button {
    position: absolute;
    bottom: 10px;
    right: 66px;
    height: 36px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 12px;
}
#timerDisplay {
    display: none;
    font-size: 12px;
    position: relative;
    color: #A4A4A4;
    bottom: 35px;
    left: 120px;
    height: 1px;
}
#emailError, #passwordError{
    text-align: left;
    padding-left: 50px;
}
#showPasswordLabel{
    position: absolute;
    margin-left: 228px;
    top: 516px;

}
#passwordImage {
    width: 27px;
    height: 27px;
    cursor: pointer;
}#verifyCodeButton {
     bottom: 12px;
 }.show-password-checkbox {
      visibility: hidden;
  }
.show-password-wrapper {
    position: absolute;
    transform: translateY(-50%);
    width: 1px;
    height: 1px;
    top: 16px;
    right: 220px;
}

