<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/passwordUpdate.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<!--<div class="header">365-Day Schedule Management Program</div>-->
<!-------------------- //header (로그인 상태에 따라 다른 헤더 프래그먼트)-------------------------->
<!--꼭 두줄로 해야함 한줄로 하면 안먹음!!-->
<div th:if="${loginUser == null}" >
    <div th:replace="/fragments/header_login :: header_login"></div>
</div>
<div th:if="${loginUser != null}">
    <div th:replace="/fragments/header_logout :: header_logout"></div>
</div>
<!-------------------------------------- header// ------------------------------------------->
    <div class="entire">
        <form id="password-update-form">
            <img src="../img/logo.png" alt="logo" id="logo" width="50%"></a>
            <div class="password-update">
                <h4>비밀번호 찾기</h4>
                <p>비밀번호를 잊어 버리셨나요?</p>
                <p>가입한 이메일로 인증 후 새로운 비밀번호로 변경하세요.</p>
                <div id="verifyEmail">
                    <input type="email" id="fullEmail" placeholder="example@Example.com" required>
                    <button type="button" id="verifyEmailButton">인증</button>
                    <label id="emailLabel" for="fullEmail"><span>*</span> Email</label>
                </div>

                <div id="verificationSection" style="display: none">
                    <input type="text" id="verificationCode" placeholder="인증번호를 입력하세요." required>
                    <button type="button" id="verifyCodeButton">확인</button>
                    <label id="verifyLabel"><span>*</span> 인증번호</label>
                </div>

                <div id="timerDisplay" style="display: none;">
                    <span id="timer"></span>
                </div>

                <div id="newPasswordSection" style="display: none;">
                    <input type="password" id="newPassword" placeholder="ex. 123456as!@">
                    <button type="button" id="passwordUpdateButton" onclick="passwordUpdateForm()" style="display: none;">변경</button>
                    <label><span>*</span> 새 비밀번호</label>
                </div>
                <div id="passwordError" style="color: red;"></div>
                <label id="showPasswordLabel" style="display: none">
                    <input type="checkbox" id="showPassword" onchange="togglePassword()" style="visibility: hidden;">
                    <img src="../img/password.png" alt="비밀번호 숨김" id="passwordImage" >
                </label>
                <div id="emailError" style="color: red;"></div>
            </div>
        </form>
    </div>
<script>
    var isRunning = false;
    function verifyEmail(){
        document.getElementById("verifyEmailButton").disabled = true; // 버튼 비활성화
        document.getElementById('verifyEmailButton').style.backgroundColor = 'gray';
        // 이메일 인증 버튼 클릭 시 타이머 시작
        var fiveMinutes = 60 * 3; // 3분
        var display = document.getElementById('timer');
        startTimer(fiveMinutes, display);
        document.getElementById("timerDisplay").style.display = "block";
        document.getElementById('verificationSection').style.display = 'block'; // 인증 코드 입력창 표시
        alert('인증번호가 전송 되었습니다.')
        var email = document.getElementById('fullEmail').value;
        axios.post('/verify-email', { email: email })
            .then(function (response) {
            })
            .catch(function (error) {
                console.log(error);
            });
    };

    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        if (isRunning) {
            clearInterval(window.timer);
        }
        isRunning = true;

        window.timer = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;
            display.style.color = "black"
            if (--timer < 0) {
                clearInterval(window.timer);
                isRunning = false;
                document.getElementById("verifyEmailButton").disabled = false;
                document.getElementById('verifyEmailButton').style.backgroundColor = 'black';
                document.getElementById("timerDisplay").style.display = "none";
                document.getElementById("verificationSection").style.display = "none";
                alert('입력 시간이 초과되었습니다, 다시 시도해주세요.');
            }
        }, 1000);
    }

    // 인증 코드 확인 부분
    document.getElementById('verifyCodeButton').addEventListener('click', function() {
        // 인증 완료 후 또는 타이머 종료 후 버튼을 다시 활성화
        document.getElementById('verifyEmailButton').disabled = false;
        var emailError = document.getElementById("emailError");
        var email = document.getElementById('fullEmail').value;
        var code = document.getElementById('verificationCode').value;
        emailError.style.fontWeight = 'bold';
        emailError.style.fontSize = '12px';
        axios.post('/verification-email-sent', { email: email, verificationCode: code })
            .then(function (response) {
                if (response.data.valid) {
                    clearInterval(window.timer); // 타이머 중지
                    document.getElementById('timer').textContent = ""; // 타이머 UI 초기화
                    document.getElementById('verificationSection').style.display = 'none';
                    alert('인증이 완료 되었습니다.');
                    document.getElementById('verifyEmailButton').disabled = true;
                    document.getElementById('fullEmail').disabled = true;
                    document.getElementById('verifyEmail').style.display = 'none';
                    document.getElementById('newPasswordSection').style.display = 'block';
                    document.getElementById('passwordUpdateButton').style.display = 'block';
                    document.getElementById('showPasswordLabel').style.display = 'block';
                    document.getElementById('showPasswordLabel').style.display = 'block';
                } else {
                    alert('인증번호가 올바르지 않습니다.');
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    });
/*    //이메일 유효성 검사
    var emailInput = document.getElementById("fullEmail");
    var verifyButton = document.getElementById("verifyEmailButton");

    emailInput.addEventListener("input", function() {
        if (isValidEmail(emailInput.value)) {
            verifyButton.disabled = false;
            document.getElementById("emailError").style.display = "none";
        } else {
            verifyButton.disabled = true;
            document.getElementById("emailError").style.display = "block";
        }
    });

    function isValidEmail(email) {
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }*/

    document.getElementById('verifyEmailButton').addEventListener('click', function(event) {
        var fullEmail = $("#fullEmail").val();
        fullEmail = fullEmail.toLowerCase();
        var emailError = document.getElementById("emailError");
        var emailRegex = /^[a-zA-Z0-9_+&*-]+(?:\.[a-zA-Z0-9_+&*-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,7}$/;
        emailError.style.fontWeight = 'bold';
        emailError.style.fontSize = '12px';
        if (emailRegex.test(fullEmail)) {
            $.ajax({
                type: "GET",
                url: "/api/user/checkDuplicateEmail",
                data: {fullEmail: fullEmail},
                success: function (response) {
                    if (!response) {
                        verifyEmail();
                        emailError.textContent = "";
                    } else {
                        emailError.textContent = "가입되지 않은 이메일입니다.";
                    }
                },
                error: function (error) {
                    console.error("Error checking email:", error);
                }
            });
        }else if(fullEmail === ""){
            emailError.textContent = "이메일 입력칸이 공백입니다.";
        }

        else{
            emailError.textContent = "이메일 형식에 맞춰 기입하여 주세요.";
        }
    });

    function validatePassword() {
        var passwordInput = document.getElementById("newPassword");
        var passwordError = document.getElementById("passwordError");
        passwordError.style.fontSize = '12px';
        passwordError.style.fontWeight = 'bold';
        var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{10,16}$/;
        if (!passwordPattern.test(passwordInput.value)){
            passwordError.textContent = "비밀번호는 영문, 숫자, 특수 기호포함 10~16자리여야 합니다.";
            return false;
        }/*else if(passwordInput !== passwordCheck){
            passwordError.textContent = "비밀번호가 달라요";
            return false;
        }*/
        else {
            passwordError.textContent = ""; // 오류 메시지 제거
            return true;
        }
    }


    function togglePassword() {
        var passwordInput = document.getElementById("newPassword");
        var showPasswordCheckbox = document.getElementById("showPassword");
        if (showPasswordCheckbox.checked) {
            passwordInput.type = "text";

        } else {
            passwordInput.type = "password";
        }
    }
    //비밀번호 숨김 이미지 변경
    function changeImage() {
        var imgElement = document.getElementById("passwordImage");
        var isChecked = document.getElementById("showPassword").checked;

        // 체크 여부에 따라 이미지 변경
        if (isChecked) {
            imgElement.src = "../img/password.png";
        } else {
            imgElement.src = "../img/password2.png";
        }
    }

    // 이미지를 클릭했을 때 changeImage 함수 실행
    document.getElementById("passwordImage").addEventListener("click", changeImage);

    function passwordUpdateForm() {

        if (!validatePassword()) {
            return; // 비밀번호가 유효하지 않으면 함수 실행 중단
        }


        var userData = {
            email: document.getElementById('fullEmail').value.toLowerCase(),
            password: document.getElementById('newPassword').value
        };
        axios.put('/api/user/password-update', userData)
            .then(function (response) {
                console.log("비밀번호 변경됨", response);
                alert('성공!');
                window.location.href = '/';
            })
            .catch(function (error) {
                console.error("오류", error);
            });
    }
</script>
<!-------------------------------- // footer ----------------------------------------->
<div th:replace="/fragments/footer :: footer"></div>
<!-------------------------------- footer // ------------------------------------------->
</body>
</html>