<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body>
<div th:fragment="footer">

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section" width="50%">
                <h3>One Planner</h3>
                <p>Software Development Team</p>
                <p>Seoul Geumcheon-gu Gasan-dong Newty Castle</p>
                <p>Email: contact@oneplanner.com</p>
                <p>Phone: (123) 456-7890</p>
            </div>
            <div class="footer-section" width="20%">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-section" width="20%">
                <h3>Follow Us</h3>
                <a href="https://facebook.com/techinnovations">Facebook</a> |
                <a href="https://twitter.com/techinnovations">Twitter</a> |
                <a href="https://instagram.com/techinnovations">Instagram</a>
            </div>
            <!--            <div class="footer-section">-->
            <!--                <h3>Newsletter</h3>-->
            <!--                <p>Subscribe to our newsletter for the latest updates.</p>-->
            <!--                <form action="subscribe" method="post">-->
            <!--                    <input type="email" name="email" placeholder="Enter your email">-->
            <!--                    <button type="submit">Subscribe</button>-->
            <!--                </form>-->
            <!--            </div>-->
        </div>
        <div class="footer-bottom">
            <br><p>Copyright &copy; 2024 One Planner Technology. All rights reserved.</p>
        </div>
    </footer>

    <script>
        // CSS 파일 동적 추가
        function loadCSS(href) {
            const link = document.createElement('link');
            link.rel = 'stylesheet';
            link.href = href;
            document.head.appendChild(link);
        }

        // JavaScript 파일 동적 추가
        // function loadJS(src) {
        //     const script = document.createElement('script');
        //     script.src = src;
        //     script.async = false; // 필요에 따라 true로 설정
        //     document.body.appendChild(script);
        // }

        loadCSS('/css/footer.css');
        // loadJS('/js/header.js');
    </script>


</div>
</body>
</html>