<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>header_logout</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
</head>
<body>

<!------------------->
<div th:fragment="header_logout">

    <div th:if="${loginUser != null}" th:fragment="header_logout">
        <div class="header">
            <span th:text="${loginUser.username}"></span>님, One Planner와 함께 더 나은 하루를 시작하세요!
            
            <div id="logoutMenuContainer">
            <a class="headerA" href="/web/main"><i class="fa-solid fa-calendar-days"></i></a>
            <a class="headerA" href="/web"><i class="fa-solid fa-house"></i></a> &nbsp;&nbsp;&nbsp;
            <button class="userButton"><i class="fa-solid fa-user" id="logoutClickableImage"></i></button>
            <div class="menu" id="logoutMenu">
                <div class="menu-item"><a href="/web/logout">로그아웃</a></div>
<!--                <div class="menu-item"><a href="#">메뉴 3</a></div>-->
            </div>
        </div>
        <script>
            // 메뉴 클릭시 메뉴 토글
            document.getElementById("logoutClickableImage").addEventListener("click", function() {
                var logoutMenu = document.getElementById("logoutMenu");
                logoutMenu.style.display = logoutMenu.style.display === "block" ? "none" : "block";
            });

            // 문서 클릭시 메뉴 숨김
            document.addEventListener("click", function(event) {
                var logoutMenu = document.getElementById("logoutMenu");
                var logoutClickableImage = document.getElementById("logoutClickableImage");
                var target = event.target;

                // 메뉴가 표시되어 있고, 클릭된 요소가 메뉴나 이미지가 아닌 경우 메뉴 숨김
                if (logoutMenu.style.display === "block" && target !== logoutMenu && target !== logoutClickableImage) {
                    logoutMenu.style.display = "none";
                }
            });

            // CSS 파일 동적 추가
            function loadCSS(href) {
                const link = document.createElement('link');
                link.rel = 'stylesheet';
                link.href = href;
                document.head.appendChild(link);
            }

            // JavaScript 파일 동적 추가
            // function loadJS(src) {
            //     const script = document.createElement('script');
            //     script.src = src;
            //     script.async = false; // 필요에 따라 true로 설정
            //     document.body.appendChild(script);
            // }

            // 사용 예
            loadCSS('/css/header.css');
            // loadJS('/js/header.js');
        </script>

    </div>

    <!--clickableImage-->

</div>
</body>
</html>